---
import { SITE } from "../../consts"
import OpenGraphTags from "./OpenGraphTags.astro"
import TwitterTags from "./TwitterTags.astro"

interface Props {
  title: string
  description?: string
  image?: string
  imageAlt?: string
  imageWidth?: string
  imageHeight?: string
}

const url = Astro.url
const {
  title,
  description = SITE.DESCRIPTION,
  image,
  imageAlt,
  imageWidth,
  imageHeight,
} = Astro.props

const canonical = url.href
---

<!--High Priority Global Metadata-->
<title>{title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#a855f7" />

<!--Font preloads-->
<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-regular.woff2"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-italic.woff2"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-600.woff2"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  as="font"
  href="/fonts/source-serif-pro-700.woff2"
  type="font/woff2"
  crossorigin
/>

<!--Low Priority Global Metadata-->
<link rel="manifest" href="/manifest.json" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
<link
  rel="alternate"
  type="application/rss+xml"
  title="RSS Feed de neolorem.dev"
  href="/rss.xml"
/>

<!--Page Metadata-->
<meta name="description" content={description} />
<link rel="canonical" href={canonical} />

<OpenGraphTags
  title={title}
  description={description}
  image={image}
  imageAlt={imageAlt}
  imageWidth={imageWidth}
  imageHeight={imageHeight}
/>
<TwitterTags
  title={title}
  description={description}
  image={image}
  imageAlt={imageAlt}
/>
