---
import BaseLayout from '../../layouts/BaseLayout.astro'
import FormattedDate from '../../components/FormattedDate.astro'
import type { GetStaticPaths } from 'astro'
import { getCollection, type CollectionEntry } from 'astro:content'

export const getStaticPaths = (async () => {
  const blog = await getCollection('blog')
  return blog.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}) satisfies GetStaticPaths

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
const { Content } = await post.render()
---

<BaseLayout title={post.data.title} class="scroll-smooth scroll-p-24">
  <article slot="header" class="mb-20 min-h-[1px]">
    {
      post.data.mainImg && (
        <picture class="block bg-[#171717]">
          <img
            src={post.data.mainImg}
            alt={post.data.description}
            width="800"
            height="400"
            class="mx-auto max-h-96 max-w-screen-lg w-full object-cover"
          />
        </picture>
      )
    }
  </article>
  <section class="mb-24 md:text-center">
    <p class="mb-2"><FormattedDate date={post.data.pubDate} /></p>
    <h1 class="text-4xl md:text-5xl font-bold text-textColor-primary mb-2 md:mb-4">
      {post.data.title}
    </h1>
    <p class="text-lg"><em>{post.data.description}</em></p>
  </section>
  <article
    class="prose prose-lorem dark:prose-invert prose-img:rounded-lg prose-code:before:content-[''] prose-code:after:content-[''] prose-code:bg-preColor prose-code:p-1 prose-code:rounded-md prose-h1:text-4xl prose-h1:text-center prose-h2:border-b prose-h2:pb-1 prose-h2:border-borderColor-gray prose-h2:text-3xl prose-h3:italic max-w-none"
  >
    <Content />
  </article>
</BaseLayout>

<script>
  import createLinksInHeaders from '../../scripts/blogHeaders.ts'
  window.addEventListener('load', () => {
    createLinksInHeaders('main')
  })
</script>
