---
import FormattedDate from "../../components/FormattedDate.astro"
import ChevronLeft from "../../icons/ChevronLeft.astro"
import type { GetStaticPaths } from "astro"
import { getCollection, type CollectionEntry } from "astro:content"
import PostLayout from "../../layouts/PostLayout.astro"

export const getStaticPaths = (async () => {
  const blog = await getCollection("blog")
  return blog.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}) satisfies GetStaticPaths

interface Props {
  post: CollectionEntry<"blog">
}

const { post } = Astro.props
const { Content } = await post.render()

const time = Math.round(post.body.split(" ").length / 150)
const readingTime = time && `${time - 1}-${time + 1}`
---

<PostLayout post={post}>
  <div class="max-w-screen-lg mx-auto">
    <p class="text-left mb-4 hidden md:block text-textColor-accent font-bold text-lg">
      <a href="/blog" class="group">
        <i>
          <ChevronLeft
            class="inline-block group-hover:translate-x-[-0.25rem] transition-transform"
          />
        </i>
         Blog
      </a>
    </p>
    <section class="md:text-center max-w-screen-md mx-auto md:px-4">
      <p class="mb-2">
        <FormattedDate date={post.data.pubDate} />
      </p>
      <h1
        class="text-4xl md:text-5xl font-bold text-textColor-primary mb-2 md:mb-4"
      >
        {post.data.title}
      </h1>
      <p class="text-lg md:text-xl"><em>{post.data.description}</em></p>
    </section>
    <div class="mt-14 mb-14">
      <p class="mb-4">
        ⏱️ {readingTime} minutos
      </p>
      <div class="bg-borderColor-gray h-[2px]"></div>
    </div>
    <article
      class="prose prose-lorem dark:prose-invert md:prose-xl prose-code:before:content-[''] prose-code:after:content-[''] prose-h1:text-center md:prose-h2:pt-8 md:prose-h2:mb-6 md:prose-h2:text-center prose-h3:text-2xl prose-h3:italic prose-h3:mt-12 max-w-screen-md mx-auto"
      id="content"
    >
      <Content />
    </article>
  </div>
  <div class="mt-[48vh] text-center">
    <p class="text-textColor-teriary">
      <em>[Espacio en blanco para mejor lectura]</em>
    </p>
  </div>
</PostLayout>
<!-- 
<script>
  import createLinksInHeaders from "../../scripts/blogHeaders.ts"
  window.addEventListener("load", () => {
    createLinksInHeaders("main")
  })
</script> -->
