---
import BaseLayout from '../../layouts/BaseLayout.astro'
import FormattedDate from '../../components/FormattedDate.astro'
import type { GetStaticPaths } from 'astro'
import { getCollection, type CollectionEntry } from 'astro:content'

export const getStaticPaths = (async () => {
  const blog = await getCollection('blog')
  return blog.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}) satisfies GetStaticPaths

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
const { Content } = await post.render()
---

<BaseLayout title={post.data.title}>
  <article slot="header">
    <div class="bg-[#211920]">
      <img
        src={post.data.mainImg}
        alt={post.data.description}
        width="800"
        height="400"
        class="mx-auto max-h-96 max-w-screen-lg w-full object-cover"
      />
    </div>
  </article>
  <p><FormattedDate date={post.data.pubDate} /></p>
  <h1>{post.data.title}</h1>
  <article class="prose prose-neutral dark:prose-invert prose-img:rounded-lg">
    <Content />
  </article>
</BaseLayout>

<script>
  import { createLinksInHeaders } from '../../utils/all'
  document.addEventListener('astro:page-load', () => {
    createLinksInHeaders('main')
  })
</script>
