---
import BaseLayout from "../../layouts/BaseLayout.astro"
import BlogPost from "../../components/Blog/BlogPost.astro"
import RssIcon from "../../components/ui/icons/RssIcon.astro"
import { getCollection } from "astro:content"
import { SITE } from "../../consts"

const blog = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<BaseLayout
  title={`${SITE.TITLE} · Blog`}
  description="Artículos disponibles del blog Neo Lorem sobre ciencia y tecnología"
>
  <meta slot="meta" name="robots" content="all" />
  <div class="max-w-screen-lorem mx-auto">
    <section class="pt-12 pb-14">
      <div class="relative flex justify-between items-center">
        <h1 class="text-5xl md:text-6xl font-bold text-textColor-primary">
          Blog
        </h1>
        <a href="/rss.xml" target="_blank" class="border border-borderColor-gray rounded-lg w-9 h-9 flex items-center justify-center">
          <RssIcon class="inline w-5 h-5" />
          <span class="sr-only">RSS</span>
        </a>
      </div>
    </section>

    <article class="max-w-screen-md">
      {
        blog.map((post) => (
          <BlogPost
            slug={post.slug}
            title={post.data.title}
            description={post.data.description}
            date={post.data.pubDate}
            tags={post.data.tags}
          />
        ))
      }
    </article>
  </div>
</BaseLayout>
