---
import RightArrowIcon from "../../components/ui/icons/RightArrowIcon.astro"
import FormattedDate from "../../components/FormattedDate.astro"
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"a"> {
  slug: string
  date: Date
  title: string
  description: string
  tags: string[]
}

const { slug, date, title, description, tags } = Astro.props
---

<article class="sm:flex sm:flex-row-reverse sm:gap-x-20 mb-10">
  <article class="sm:text-right">
    <p class="sm:font-bold md:text-lg text-sm">
      <FormattedDate date={date} />
    </p>
  </article>
  <article class="sm:flex-1">
    <p class="text-xl md:text-2xl text-textColor-primary mb-1 md:mb-0">
      <a
        href={`/blog/${slug}`}
        class="block hover:underline hover:underline-offset-8"
      >
        <strong>{title}</strong>
      </a>
    </p>
    <p>{description}</p>
    <div class="my-4">
      <ul
        class="hidden sm:flex w-full sm:flex-wrap justify-start sm:gap-x-2 sm:gap-y-4"
      >
        {
          tags.map((tag) => (
            <li>
              <span class="text-sm px-2 py-1 rounded-lg bg-hrColor">{tag}</span>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="text-textColor-accent">
      <a
        href={`/blog/${slug}`}
        class="block group hover:underline hover:underline-offset-4"
      >
        <strong>Continuar leyendo</strong>
        <i>
          <RightArrowIcon
            class="ml-1 inline group-hover:translate-x-2 transition-transform"
          />
        </i>
      </a>
    </div>
  </article>
</article>
