---
import FormattedDate from '../../components/FormattedDate.astro'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'a'> {
  slug: string
  date: Date
  title: string
  description: string
  tags: string[]
  mainImg?: string
}

const { slug, date, title, description, tags, mainImg } =
  Astro.props
---

{
  mainImg ? (
    <a
      href={`/blog/${slug}`}
      class="overflow-hidden block rounded-xl border border-borderColor-gray hover:border-borderColor-accent transition"
    >
      <article class="relative w-full group transition">
        <div class="sm:absolute bg-background/80 backdrop-blur-sm group-hover:bg-background/90 py-6 px-4 top-0 left-0 rounded-xl flex flex-col w-full h-full gap-y-3 z-20 transition-all">
          <div class="sm:flex sm:flex-row-reverse gap-x-8">
            <p class="sm:text-right sm:font-bold text-sm md:text-base">
              <FormattedDate date={date} />
            </p>
            <p class="text-xl md:text-2xl text-textColor-primary flex-1">
              <strong>{title}</strong>
            </p>
          </div>
          <div class="flex-1">
            <p class="md:text-lg max-w-screen-sm">
              {description}
            </p>
          </div>
          <ul class="flex w-full flex-wrap justify-start gap-x-2 gap-y-4">
            {tags.map((tag) => (
              <li>
                <span class="text-sm px-2 py-1 rounded-lg bg-hrColor">
                  {tag}
                </span>
              </li>
            ))}
          </ul>
        </div>
        <img
          src={mainImg}
          alt={description}
          width="800"
          height="400"
          loading="lazy"
          class="hidden sm:block w-full h-full object-cover rounded-xl object box-border duration-200 group-hover:scale-110 transition"
        />
      </article>
    </a>
  ) : (
    <a
      href={`/blog/${slug}`}
      class="overflow-hidden rounded-xl border border-borderColor-gray hover:border-borderColor-accent transition block"
    >
      <article class="w-full group transition py-6 px-4 flex flex-col gap-y-3">
        <div class="sm:flex sm:flex-row-reverse gap-x-8">
          <p class="sm:text-right sm:font-bold text-sm md:text-base">
            <FormattedDate date={date} />
          </p>
          <div class="flex-1">
            <p class="text-xl md:text-2xl text-textColor-primary flex-1 max-w-screen-sm">
              <strong>{title}</strong>
            </p>
          </div>
        </div>
        <p class="flex-1 md:text-lg max-w-screen-sm">
          {description}
        </p>
        <ul class="flex w-full flex-wrap justify-start gap-x-2 gap-y-4">
          {tags.map((tag) => (
            <li>
              <span class="text-sm px-2 py-1 rounded-lg bg-hrColor">
                {tag}
              </span>
            </li>
          ))}
        </ul>
      </article>
    </a>
  )
}
