---
import type { HTMLAttributes } from 'astro/types'
import FormattedDate, {
  type ToLocaleDateStringConfig,
} from '../FormattedDate.astro'

interface Props extends HTMLAttributes<'a'> {
  slug: string
  date: Date
  title: string
  description: string
}

const { slug, date, title, description, href } = Astro.props

const dateConfig: ToLocaleDateStringConfig = {
  month: 'short',
  day: '2-digit',
}
---

<article class="flex gap-6 md:gap-8 py-4 transition-all group max-w-screen-md">
  <div>
    <p class="group-hover:translate-x-2 transition-transform w-14">
      <FormattedDate config={dateConfig} date={date} />
    </p>
  </div>
  <a
    href={`/blog/${slug}`}
    class="flex-1 group-hover:translate-x-[-0.5rem] transition-transform"
  >
    <p
      class="text-lg md:text-xl text-textColor-primary group-hover:text-textColor-accent-indigo md:pb-2 transition-all"
    >
      <strong set:html={title} />
    </p>
    <p class="hidden md:inline-block" set:html={description} />
  </a>
</article>
