---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'
import HeadPost from '../components/seo/HeadPost.astro'

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  class="scroll-p-28"
  image={post.data.mainImg}
  imageAlt={post.data.description}
>
  <HeadPost slot="meta" post={post} slot="meta" />
  <slot />
  <div class="mt-[30vh] md:mt-[50vh] text-center"></div>
</BaseLayout>
