---
import type { CollectionEntry } from "astro:content"
import BaseLayout from "./BaseLayout.astro"
import HeadPost from "../components/seo/HeadPost.astro"
import DisplayTOC from "../components/Blog/DisplayTOC.astro"

interface Props {
  post: CollectionEntry<"blog">
}

const { post } = Astro.props

const { headings } = await post.render()
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  class="scroll-p-28"
  image={post.data.mainImg}
  imageAlt={post.data.description}
>
  <HeadPost slot="meta" post={post} slot="meta" />
  <div class="max-w-screen-sm mx-auto relative">
    <DisplayTOC headings={headings} />
    <slot />
  </div>
  <div class="mt-[30vh] md:mt-[50vh] text-center"></div>
</BaseLayout>
